.project
.settings
.cproject
build
build-*/
esp_idf_components
sdkconfig.old
sdkconfig
sdkconfig_*
.vscode
.DS_Store
build_output/
notes/*.log
vesc_pkg/**/build-package.log
vesc_pkg/**/qml-runtime*.log
vesc_pkg/**/fonts/eurostile-120.bin
main/hwconf/**/*/qmlui_hw.c
main/hwconf/**/*/qmlui_hw.h

# These should maybe be committed instead, but they weren't before and I don't
# feel like making that decision right now...
managed_components/
dependencies.lock
