# No-wireless overlay for HW_IS_SLAVE class builds.
# CONFIG_BT_ENABLED is not set
# CONFIG_BT_BLUEDROID_ENABLED is not set
# CONFIG_BT_NIMBLE_ENABLED is not set
# CONFIG_ESP_WIFI_ENABLED is not set
# CONFIG_ESP32_WIFI_ENABLED is not set
