<?xml version="1.0" encoding="UTF-8"?>
<ConfigParams>
    <Params>
        <config_name>
            <longName>none</longName>
            <type>3</type>
            <transmittable>0</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine></cDefine>
            <valString>main_config_t</valString>
            <maxLen>0</maxLen>
        </config_name>
        <hw_name>
            <longName>VESC Express</longName>
            <type>0</type>
            <transmittable>0</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;This is the VESC Express Logging and Communication Module.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine></cDefine>
        </hw_name>
        <controller_id>
            <longName>CAN ID</longName>
            <type>2</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;CAN-Bus ID. Every devive on the CAN-bus needs a unique ID.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_CONTROLLER_ID</cDefine>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxInt>254</maxInt>
            <minInt>-1</minInt>
            <showDisplay>0</showDisplay>
            <stepInt>1</stepInt>
            <valInt>-1</valInt>
            <suffix></suffix>
            <vTx>4</vTx>
        </controller_id>
        <can_status_rate_hz>
            <longName>Status Message Rate</longName>
            <type>2</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;CAN Status message rate in Hertz for hardware that supports it (e.g. IO Boards). Setting this to 0 turns the status messages off. It is also the maximum rate at which GNSS-data is sent (although the GNSS output rate is limited to the rate of the GNSS module).&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_CAN_STATUS_RATE_HZ</cDefine>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxInt>200</maxInt>
            <minInt>0</minInt>
            <showDisplay>0</showDisplay>
            <stepInt>1</stepInt>
            <valInt>20</valInt>
            <suffix> Hz</suffix>
            <vTx>4</vTx>
        </can_status_rate_hz>
        <can_baud_rate>
            <longName>CAN Baud Rate</longName>
            <type>4</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;CAN-bus baud rate. Must be the same on all devices in the CAN-bus.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_CAN_BAUD_RATE</cDefine>
            <valInt>2</valInt>
            <enumNames>CAN_BAUD_125K</enumNames>
            <enumNames>CAN_BAUD_250K</enumNames>
            <enumNames>CAN_BAUD_500K</enumNames>
            <enumNames>CAN_BAUD_1M</enumNames>
            <enumNames>CAN_BAUD_10K</enumNames>
            <enumNames>CAN_BAUD_20K</enumNames>
            <enumNames>CAN_BAUD_50K</enumNames>
            <enumNames>CAN_BAUD_75K</enumNames>
        </can_baud_rate>
        <wifi_mode>
            <longName>WiFi Mode</longName>
            <type>4</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;WiFi Disabled&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Wifi is disabled.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;Station&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Station mode, meaning that the VESC Epress connects to an existing WiFi access point.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;Access Point&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;The VESC Express becomes an access point itself that others can connect to.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;NOTE:&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Wifi-settings will be applied after a reboot.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_WIFI_MODE</cDefine>
            <valInt>2</valInt>
            <enumNames>WiFi Disabled</enumNames>
            <enumNames>Station</enumNames>
            <enumNames>Access Point</enumNames>
        </wifi_mode>
        <wifi_sta_ssid>
            <longName>Station Mode SSID</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Wifi network SSID in station mode. Can usually be found on a sticker on the router.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_WIFI_STA_SSID</cDefine>
            <valString></valString>
            <maxLen>35</maxLen>
        </wifi_sta_ssid>
        <wifi_sta_key>
            <longName>Station Mode Key</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Wifi network password in station mode. Can usually be found on a sticker on the router.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_WIFI_STA_KEY</cDefine>
            <valString></valString>
            <maxLen>25</maxLen>
        </wifi_sta_key>
        <wifi_ap_ssid>
            <longName>Access Point SSID</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Wifi network SSID in access point mode. This name should show up when others are scanning for wifi networks.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_WIFI_AP_SSID</cDefine>
            <valString>VESC WiFi</valString>
            <maxLen>35</maxLen>
        </wifi_ap_ssid>
        <wifi_ap_key>
            <longName>Access Point Key</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Wifi access point password.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_WIFI_AP_KEY</cDefine>
            <valString>vesc6wifi</valString>
            <maxLen>25</maxLen>
        </wifi_ap_key>
        <use_tcp_local>
            <longName>Enable Local TCP</longName>
            <type>5</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Enable local TCP server. Allows connecting from the same network. Changing this setting takes effect after a reboot.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_USE_TCP_LOCAL</cDefine>
            <valInt>1</valInt>
        </use_tcp_local>
        <use_tcp_hub>
            <longName>Enable TCP Hub</longName>
            <type>5</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Connect to TCP hub with the settings below. &lt;/span&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Changing this setting takes effect after a reboot.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_USE_TCP_HUB</cDefine>
            <valInt>0</valInt>
        </use_tcp_hub>
        <tcp_hub_url>
            <longName>TCP Hub URL</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;URL to the TCP hub.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_TCP_HUB_URL</cDefine>
            <valString>veschub.vedder.se</valString>
            <maxLen>35</maxLen>
        </tcp_hub_url>
        <tcp_hub_port>
            <longName>TCP Hub Port</longName>
            <type>2</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Port on the TCP hub.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_TCP_HUB_PORT</cDefine>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxInt>65535</maxInt>
            <minInt>0</minInt>
            <showDisplay>0</showDisplay>
            <stepInt>1</stepInt>
            <valInt>65101</valInt>
            <suffix></suffix>
            <vTx>3</vTx>
        </tcp_hub_port>
        <tcp_hub_id>
            <longName>TCP Hub ID</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;ID on the TCP Hub. Can be any string with at least 3 characters. Longer strings decrease the probability of id collisions on the HUB.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_TCP_HUB_ID</cDefine>
            <valString>express1</valString>
            <maxLen>25</maxLen>
        </tcp_hub_id>
        <tcp_hub_pass>
            <longName>TCP Hub Password</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;TCP Hub Password. Choose a password that is required to connecto to you on the TCP hub. Can be blank.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_TCP_HUB_PASS</cDefine>
            <valString></valString>
            <maxLen>25</maxLen>
        </tcp_hub_pass>
        <ble_mode>
            <longName>Bluetooth Mode</longName>
            <type>4</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;Disabled&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Bluetooth is disabled. Disabling bluetooth reduces the wifi-latency a bit, which is useful if you are not using bluetooth anyway.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;Enabled&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Bluetooth is enabled and anyone can connect.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;Enabled and Encrypted&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Bluetooth is enabled and pin code protected. That means that you have to do pairing and set up the pin code in order to connect.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;NOTE:&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Bluetooth settings will be applied after a reboot.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_BLE_MODE</cDefine>
            <valInt>0</valInt>
            <enumNames>Disabled</enumNames>
            <enumNames>Enabled</enumNames>
            <enumNames>Enabled and Encrypted</enumNames>
        </ble_mode>
        <ble_name>
            <longName>Name</longName>
            <type>3</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Name of this VESC Express. Max 8 characters. The name will show up when scanning for bluetooth devices and in the wifi broadcast.&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;NOTE:&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Bluetooth and wifi settings will be applied after a reboot.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_BLE_NAME</cDefine>
            <valString>ExpressT</valString>
            <maxLen>8</maxLen>
        </ble_name>
        <ble_pin>
            <longName>Bluetooth Pin Code</longName>
            <type>2</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Bluetooth Pin Code. Must be 6 digits. Only used when Bluetooth mode is set to Enabled and Encrypted.&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot;-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-family:'Sans Serif';&quot;&gt;&lt;br /&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-weight:600;&quot;&gt;NOTE:&lt;/span&gt;&lt;/p&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Bluetooth settings will be applied after a reboot.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_BLE_PIN</cDefine>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxInt>999999</maxInt>
            <minInt>0</minInt>
            <showDisplay>0</showDisplay>
            <stepInt>1</stepInt>
            <valInt>123456</valInt>
            <suffix></suffix>
            <vTx>5</vTx>
        </ble_pin>
    </Params>
    <SerOrder>
        <ser>controller_id</ser>
        <ser>can_baud_rate</ser>
        <ser>can_status_rate_hz</ser>
        <ser>wifi_mode</ser>
        <ser>wifi_sta_ssid</ser>
        <ser>wifi_sta_key</ser>
        <ser>wifi_ap_ssid</ser>
        <ser>wifi_ap_key</ser>
        <ser>use_tcp_local</ser>
        <ser>use_tcp_hub</ser>
        <ser>tcp_hub_url</ser>
        <ser>tcp_hub_port</ser>
        <ser>tcp_hub_id</ser>
        <ser>tcp_hub_pass</ser>
        <ser>ble_mode</ser>
        <ser>ble_name</ser>
        <ser>ble_pin</ser>
    </SerOrder>
    <Grouping>
        <group>
            <groupName>General</groupName>
            <subgroup>
                <subgroupName>CAN</subgroupName>
                <subgroupParams>
                    <param>controller_id</param>
                    <param>can_baud_rate</param>
                    <param>can_status_rate_hz</param>
                </subgroupParams>
            </subgroup>
            <subgroup>
                <subgroupName>WiFi</subgroupName>
                <subgroupParams>
                    <param>ble_name</param>
                    <param>wifi_mode</param>
                    <param>::sep::Station Mode</param>
                    <param>wifi_sta_ssid</param>
                    <param>wifi_sta_key</param>
                    <param>::sep::Access Point Mode</param>
                    <param>wifi_ap_ssid</param>
                    <param>wifi_ap_key</param>
                    <param>::sep::TCP Local</param>
                    <param>use_tcp_local</param>
                    <param>::sep::TCP Hub</param>
                    <param>use_tcp_hub</param>
                    <param>tcp_hub_url</param>
                    <param>tcp_hub_port</param>
                    <param>tcp_hub_id</param>
                    <param>tcp_hub_pass</param>
                </subgroupParams>
            </subgroup>
            <subgroup>
                <subgroupName>Bluetooth</subgroupName>
                <subgroupParams>
                    <param>ble_name</param>
                    <param>ble_mode</param>
                    <param>ble_pin</param>
                </subgroupParams>
            </subgroup>
        </group>
    </Grouping>
</ConfigParams>
